.loginpage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logindiv {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logindiv h1 {
    color: var(--black);
    font-family: var(--montserrat);
    font-weight: 800;
    font-size: 2vw;
    margin: 4vw 0;
}

.logindiv div {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.logindiv label {
    font-family: var(--font-hind);
    font-weight: 600;
    font-size: 1.1vw;
    color: var(--black);
    margin-bottom: 0.1vw;
}

.logininput {
    height: 2vw;
    width: 20vw;
    display: flex;
    flex-direction: row;
    font-family: var(--font-hind);
    font-weight: 500;
    font-size: 0.7vw;
    border: none;
    border-radius: 0.5vw;
    border: solid 1.5px var(--white-darker);
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 1vw;
    -webkit-transition: 1s;
    transition: 1s;
}

.logininput[type=email]:focus,
.logininput[type=password]:focus {
    outline-width: 0px;
}

.loginbutton {
    width: 7vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--maincolor);
    color: var(--white);
    font-family: var(--font-hind);
    font-size: 1.3vw;
    font-weight: 500;
    border-color: var(--maincolor);
    border-style: solid;
    border-radius: 0.4vw;
    border-width: 0.15vw;
    margin-top: 3vw;
    margin-bottom: 4vw;
    transition-duration: 0.3s;
    cursor: pointer;
}

.loginbutton:hover {
    background-color: var(--white);
    color: var(--maincolor);
    transition-duration: 0.3s;
}