:root{
  --black: #030807;
  --white: #E8F7F5;
  --grey: #D1F0EE;
  --primary-black: #16413D;
  --primary-dark: #20605F;
  --primary-base: #349D98;
  --primary-light: #3EBBB3;
  --primary-white: #85D6B7;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--white);
}
