.mainsection {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mainaction {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-weight: 400;
}

.motto {
    width: 17vw;
    display: flex;
    flex-direction: flex-start;
    background-color: transparent;
    font-family: var(--font-montserrat);
    font-size: 3vw;
    font-weight: 600;
}

.registerdiv {
    width: 17vw;
    display: flex;
    flex-direction: flex-start;
    background-color: transparent;
    margin-top: 2rem;
}

.actionbutton {
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-base);
    color: var(--white);
    border-color: var(--primary-base);
    padding: 0.5rem 1.5rem;
    font-family: var(--font-hind);
    font-weight: 600;
    font-size: 22px;
    border-style: solid;
    border-width: 2px;
    border-radius: 0.4rem;
    text-decoration: none;
    transition-duration: 0.3s;
    margin-right: 1vw;
}

.actionbutton:hover {
    background-color: var(--white);
    color: var(--primary-base);
    transition-duration: 0.3s;
}

.invert {
    background-color: var(--white);
    color: var(--primary-base);
    border-color: var(--primary-base);
}

.invert:hover {
    color: var(--primary-black);
    border-color: var(--primary-black);
}

.vintage {
    width: 50%;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.aboutsection {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-light);
}

.aboutdiv {
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--black);
}

.aboutfirst {
    font-family: var(--font-montserrat);
    color: var(--black);
    font-weight: 600;
    font-size: 1.6vw;
    word-wrap: break-word;
    line-height: 150%;
}

.aboutsecond {
    color: var(--black);
    font-family: var(--font-hind);
    font-weight: 400;
    font-size: 1vw;
}

.productsection {
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vw;
}

.productphrase {
    color: var(--black);
    width: 35vw;
    background-color: transparent;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 2vw;
    margin-bottom: 7vw;
}

.productdiv {
    height: 23vw;
    width: 55vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.6rem;
    margin: 3vw 0;
    box-shadow: var(--primary-black) 0px 7px 29px 0px;
}

.toolimage {
    height: 10vw;
    width: 10vw;
    background-color: transparent;
    margin: 0 4vw;
}

.tooldiv {
    background-color: transparent;
    margin: 0 3vw;
}

.tooldiv h1 {
    background-color: transparent;
    color: var(--black);
    padding: 1vw 0vw 1vw 0vw;
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 1.4vw;
}

.tooldiv p {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-hind);
    font-weight: 400;
    font-size: 1vw;
}
