.navbar {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.linklist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbarlink {
    font-family: var(--font-hind);
    font-weight: 600;
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    color: var(--maincolor);
    text-decoration: none;
    margin: 0 2vw;
}

.pagelink {
    transition-duration: 0.3s;
}

.pagelink:hover {
    color: var(--maindark);
    transition-duration: 0.3s;
}

.login {
    background-color: var(--maincolor);
    color: var(--white);
    font-size: 1.5vw;
    border-color: var(--maincolor);
    border-style: solid;
    padding: 0.5rem 2rem;
    border-radius: 0.4rem;
    border-width: 2px;
    transition-duration: 0.3s;
}

.login:hover {
    background-color: var(--white);
    color: var(--maincolor);
    transition-duration: 0.3s;
}
